.advantages {
    padding: 57px 0 51px 0;
    min-height: 590px;
    background-color: #f3f3f3;
    &__wrapper {
        margin-top: 31px;
        display: grid;
        grid-template-columns: repeat(2, minmax(447px, auto));
        grid-template-rows: 62px 63px 63px 129px;
        column-gap: 62px;
        row-gap: 37px;
    }
    &__item {
        display: flex;
        align-items: flex-start;;
    }
    &__img {
        margin-right: 14px;
        min-width: 64px;
        height: auto;
    }
    &__subtitle {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: $main-color;
    }
    &__descr {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
}