.questions {
    min-height: 438px;
    background: url('../img/questions_bg.jpg') center center/cover no-repeat;
    padding: 62px 0 79px 0;
    &__card {
        max-width: 896px;
        margin: 0 auto;
        &__header {
            height: 68px;
            background-color: #25333c;
            padding: 18px 0;
        }
        &__title {
            font-size: 19px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 15px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
        }
    }
    &__form {
        padding: 17px 40px 25px 40px;
        width: 100%;
        min-height: 229px;
        background-color:rgba($color: #fff, $alpha: 0.7);
        input {
            border: 1px rgba($color: #101010, $alpha: 0.21) solid;
            background-color: #fff;
            &:nth-last-child(2) {
                width: 813px;
                height: 71px;
                margin-top: 6px;
            }
        }
        button {
            display: block;
            margin: 16px auto 0 auto;
        }
    }
}