.work {
    min-height: 454px;
    background-color: #f3f3f3;
    padding: 51px 0 46px 0;
    &__wrapper {
        margin-top: 29px;
    }
    &__item {
        text-align: center;
        width: 260px;
        &__img {
            height: 57px;
            width: auto;
            display: flex;
            align-items: start;
            justify-content: center;
        }
        &__title {
            margin-top: 7px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            color: #ec644b;
        }
        &__descr {
            margin-top: 3px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: #3a3a3a;
        }
    }
    &__items1 {
        display: flex;
        justify-content: space-between;
    }
    &__items2 {
        margin: 26px auto 0 auto;
        display: flex;
        justify-content: space-between;
        width: 812px;
    }
}